In [1]:
import pandas as pd

DATASET_PATH = '../data/small_openfoodfacts.csv'

In [4]:
df = pd.read_csv(DATASET_PATH, sep='\t')

In [6]:
df2 = df.dropna(axis=1)

In [8]:
df2.describe()

               code     created_t  last_modified_t  completeness
count  1.000000e+03  1.000000e+03     1.000000e+03   1000.000000
mean   1.010976e+16  1.555023e+09     1.582110e+09      0.349688
std    3.163008e+17  6.815055e+07     6.713032e+07      0.163447
min    1.000000e+00  1.345024e+09     1.444659e+09      0.050000
25%    4.525000e+03  1.489138e+09     1.539581e+09      0.275000
50%    5.826600e+04  1.538836e+09     1.550285e+09      0.362500
75%    2.753303e+07  1.594806e+09     1.644568e+09      0.400000
max    1.000214e+19  1.714495e+09     1.714665e+09      0.987500